.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url("/BGAbout.png");
}

.aboutWrapper {
    font-family: yuruka, sans-serif;
    max-width: 750px;
    border-radius: 16px;
    padding: 40px;
    text-align: center;
    /* warna */
    background-color: rgba(239, 232, 222, 0.7);
    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.3),
        inset 0 -1px 2px rgba(255, 255, 255, 0.12),
        0 8px 15px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(20px);
    outline: white solid 4px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.aboutTitle {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.aboutSubtitle {
    font-size: 18px;
    color: #444;
    margin-bottom: 25px;
}

.aboutCard {
    background: #f6f7ff;
    padding: 22px;
    border-radius: 14px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: left;
    margin-bottom: 25px;
}

.aboutFooter {
    font-size: 14px;
    opacity: 0.7;
}
