.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("/bg login.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.LoginWrapper {
  display: flex;
  width: 90%;
  max-width: 550px;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden; 
}

/* LEFT SIDE */
.LoginKiri {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: black;
  background: rgba(183, 197, 255, 0.8);
  padding: 20px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.splash-logo {
  width: 100%;
}

/* RIGHT SIDE */
.LoginKanan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: black;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.input {
  padding: 12px 14px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  border: 1.5px solid #c5c5c5;
  background: #f9f9f9;
  outline: none;
  transition: all 0.2s ease;
  color: #1d1b20;
  margin-bottom: 10px;
}

.link {
  color: blue
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .LoginContainer{
    background-image: url("/bg login mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }

  .LoginWrapper {
    flex-direction: column;
    max-width: 350px;
  }

  .LoginKiri,
  .LoginKanan {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .LoginKiri {
    padding: 15px;
  }

  .splash-logo {
    max-height: 12rem;
  }

  .LoginKanan {
    padding: 15px;
  }
}
