.splash-container {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 0.5s ease forwards;
  animation-delay: 1.5s; /* tunggu sebelum menghilang */
}

.splash-logo {
  width: auto;
  height: 25rem;
  opacity: 1;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
