

body, html, #root {
  height: 100%;
  width: 100%;
  background: #caf0f8;
  /* background: linear-gradient(to bottom, #90e0ef, #caf0f8); */
  font-family: sans-serif;
}

/* APP WRAPPER */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.pageWrapper {
  flex: 1;
  overflow: auto;
  width: 100%;
}

/* PAGE CONTENT */
.page {
  text-align: center;
}

/* ─────────────────────────────── */
/* SEGMENTED NAVBAR (PILL BUTTON) */
/* ─────────────────────────────── */

.bottomNavBar {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 5rem;
  z-index: 999;
  outline: none;
  background-color: rgba(239, 232, 222, 0.7);
  color: black;

  text-align: center;
  max-width: 30rem;
  margin-top: 1rem;
  border-radius: 3rem;
  box-shadow:
  inset 0 1px 2px rgba(255, 255, 255, 0.3),
  inset 0 -1px 2px rgba(255, 255, 255, 0.12),
  0 8px 15px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(20px);
  outline: white solid 4px;
  gap: 3rem;
}

/* TOMBOL DEFAULT */
.navBarButton {
  max-width: 4rem;
}

.navBarButton:hover {
  cursor: pointer;
  transform: scale(1.08);
}
.navBarButton:active {
  transform: scale(1.06);
}
@media (max-width: 768px) {
  .bottomNavBar {
    margin-bottom: 2rem;
  }
}